.classpath
.DS_Store
.project
bin/
gool.jar
*~
gool.properties
bin/
build/
.gradle/
.settings/
repos/
velocity.log*
gradle-app.setting
tests/GOOLOUTPUTCPP/
tests/GOOLOUTPUTCS/
tests/GOOLOUTPUTJAVA/
tests/GOOLOUTPUTOBJC/
tests/GOOLOUTPUTPYTHON/
*.class
*.bkp
.pydevproject
build/
*.out
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.externalToolBuilders/
