#import "${class}OBJC.h"

@implementation ${class}OBJC
#foreach($meth in $MManager.getMethInLib(${class}))
	//$meth.comment
	+($meth.getReturnType()) $meth.getName() #foreach($p in $meth.getParam())#if($velocityCount != 1)and$p.getType()#end:($p.getType())$p.getName() #end {
		$meth.getCorps()
	}
#end

@end
