## Velocity template for writing out classes in Objective C
#parse($macros)

#import "${class.Name}.h"
@implementation ${class.Name}
#foreach( $method in $class.Methods )
	#if(!${method.isMainMethod()} && !$method.isAbstract())
${method.Header}#if($class.isInterface());#else
{
$method.Block
#if(${method.isConstructor()})
	return self;
		#end
}
	#end
	#end

#end
