## Velocity template for writing out classes in Objective C
#parse($macros)

#import "${class.Name}.h"
@implementation ${class.Name}
#foreach( $field in $class.Fields )
	#if($field.DefaultValue)$field.Type$class.Name::$field.Name = $field.DefaultValue;
	#end
#end


#foreach( $method in $class.Methods )
	#if(!${method.isMainMethod()})
		${method.Header}#if($class.isInterface() || $method.isAbstract() );#else
{
		$method.Block
		#if(${method.isConstructor()})
			return self;
		#end
}
	#end
	#end

#end
@end
