## Copyright 2010 Pablo Arrighi, Alex Concha, Miguel Lezama for version 1 of this file.
## Copyright 2013 Pablo Arrighi, Miguel Lezama, Kevin Mazet for version 2 of this file.    
##
## This file is part of GOOL.
## 
## GOOL is free software: you can redistribute it and/or modify it under the terms of the GNU
## General Public License as published by the Free Software Foundation, version 3.
##
## GOOL is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
## even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
## See the GNU General Public License version 3 for more details.
## 
## You should have received a copy of the GNU General Public License along with GOOL,
## in the file COPYING.txt.  If not, see <http://www.gnu.org/licenses/>.






## Velocity template for writing out classes .h in C++
#parse($macros)
#ifndef __${class.Name.toUpperCase()}_H
\#define __${class.Name.toUpperCase()}_H


#includes ($Helper.printDependencies($class))

#if ($class.isEnum())
enum $class.Name {
#foreach( $field in $class.Fields )
    $field.Name,
#end
};
#else
class $class.Name #if(!$class.Interfaces.isEmpty()): #interfaces($class.Interfaces)#end {
#foreach( $field in $class.Fields )
    $field;
#end

#foreach( $method in $class.Methods )
	#if($method.isGoolMethodImplementation())
	$method.getHeader()
	#elseif(!$method.isMainMethod())$method.AccessModifier: $method.Type $method.Name ( #params( $method.getParams() ) );#end

#end
};
#end
#endif