## Copyright 2010 Pablo Arrighi, Alex Concha, Miguel Lezama for version 1.
## Copyright 2013 Pablo Arrighi, Miguel Lezama, Kevin Mazet for version 2.    
##
## This file is part of GOOL.
## 
## GOOL is free software: you can redistribute it and/or modify it under the terms of the GNU
## General Public License as published by the Free Software Foundation, version 3.
##
## GOOL is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
## even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
## See the GNU General Public License version 3 for more details.
## 
## You should have received a copy of the GNU General Public License along with GOOL,
## in the file COPYING.txt.  If not, see <http://www.gnu.org/licenses/>.




##-----
#macro( params $params )
#set( $paramsNb = $params.size() )
#foreach( $p in $params )$p.Type $p.Name#if($velocityCount != $paramsNb), #end#end
#end
##-----
#macro ( block $block )
#foreach( $stmt in $block.Statements )$stmt#if ($stmt.SemiColon);
#end
#end

#end
##-----
#macro (interfaces $interfaces)
#set( $size = $interfaces.size() )
#if ($size > 0) implements #foreach( $interface in $interfaces )$interface#if($velocityCount != $size), #end#end#end
#end
##-----
#macro (join $collection $separator)
#set( $size = $collection.size() )
## (Velocity Note: velocityCount is the default loop counter variable)
#foreach( $item in $collection )$item#if($velocityCount != $size)$separator #end#end
#end
##-----
#macro ( includes $dependencies )
#foreach( $dep in $dependencies )
#if($dep.startsWith("/*")||$dep.startsWith("//")||$dep.startsWith("import "))
$dep
#elseif(!$dep.equals("noprint")&&$dep.contains("."))import ${dep};
#end
#end
#end
##-----